
@{
    ViewData["Title"] = "Index";
}

@model List<Blog.Models.Post>;

<h2>Index</h2>
<table>
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Resumo</th>
            <th>Categoria</th>
            <th>Publicado?</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
        <tr>
            <td><a href="/Post/Visualiza/@p.Id">@p.Titulo</a></td>
            <td>@p.Titulo</td>
            <td>@p.Resumo</td>
            <td>@p.Categoria</td>
            <td>
                @if (p.Publicado == true)
                {
                    @Html.Raw(string.Format("{0:dd/MM/yyyy}", p.DataPublicacao))
                }
                else
                {
                    @Html.Raw("Não");
                }
            </td>
            <td><a href="/Post/RemovePost/@p.Id">Remover</a></td>
            <td><a href="/Post/PublicaPost/@p.Id">Publicar</a></td>
        </tr>
        }
    </tbody>
</table>
