
@{
    ViewData["Title"] = "Novo";
};

@model Blog.Models.Post;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;
<h2>Novo</h2>

<label asp-for="Titulo"></label>
<input />



@*@using (Html.BeginForm("AdicionaPost", "Post"))
    {
        @Html.LabelFor(p => p.Titulo);
        @Html.TextBoxFor(p => p.Titulo);
        @Html.ValidationMessageFor(p => p.Titulo);

        @Html.LabelFor(p => p.Resumo);
        @Html.TextBoxFor(p => p.Resumo);
        @Html.ValidationMessageFor(p => p.Resumo);

        @Html.LabelFor(p => p.Categoria);
        @Html.TextBoxFor(p => p.Categoria);
        @Html.ValidationMessageFor(p => p.Categoria);

        <input type="submit" value="Salvar" />
    }*@

@*<form method="post" action="/Post/AdicionaPost">
        <label>
            Titulo : <input type="text" name="Titulo" required maxlength="20" />
        </label>
        @Html.ValidationMessage("Titulo");
        <label>
            Resumo : <input type="text" name="Resumo" required />
        </label>
        @Html.ValidationMessage("Resumo");
        <label>
            Categoria : <input type="text" name="Categoria" />
        </label>

        <input type="submit" value="Salvar" />
    </form>*@
<script src="~/js/jquery-1.10.2.js"></script>
<script src="~/js/jquery.validate.js"></script>
<script src="~/js/jquery.validate.unobtrusive.js"></script>
<script>
    $("form").validate();
</script>

