
@{
    ViewData["Title"] = "Visualiza";
}
@model Blog.Models.Post;

<form action="/Post/EditaPost" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="hidden" name="dataPublicado" value="@Model.DataPublicacao" />
    <label>
        Titulo : <input name="Titulo" value="@Model.Titulo" required maxlength="20" />
    </label>
    <label>
        Resumo : <input name="Resumo" value="@Model.Resumo" required />
    </label>
    <label>
        Categoria: <input name="Categoria" value="@Model.Categoria" />
    </label>
    <button type="submit">Cadastrar</button>
</form>
<script src="~/js/jquery-1.10.2.js"></script>
<script src="~/js/jquery.validate.js"></script>
<script>
    debugger
    $("form").validate();
</script>


