
@{
    ViewData["Title"] = "Index";
}

@model List<Post>;

<h2>Index</h2>
@Html.ActionLink("Incluir Post", "Novo");
<table>
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Resumo</th>
            <th>Categoria</th>
            <th>Publicado?</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
        <tr>
            <td>@Html.ActionLink(p.Titulo, "Visualiza", new { Id = p.Id });</td>
            <td>@p.Titulo</td>
            <td>@p.Resumo</td>
            <td>@p.Categoria</td>
            <td>
                @if (p.Publicado == true)
                {
                    @Html.Raw(string.Format("{0:dd/MM/yyyy}", p.DataPublicacao))
                }
                else
                {
                    @Html.Raw("Não");
                }
            </td>
            <td>@Html.ActionLink("Remover", "RemovePost", new { id = p.Id });</td>
            <td>@Html.ActionLink("Publicar", "PublicaPost", new { id = p.Id });</td>
        </tr>
        }
    </tbody>
</table>
